PRIVATE_KEY=your_wallet_private_key_here
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
HOODI_RPC_URL=https://rpc.hoodi.ethpandaops.io
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=your_bucket_name
NFT_CONTRACT_ADDRESS=your_contract_address_here
NFT_BASE_URI=https://your_bucket.s3.region.amazonaws.com/metadata/
NFT_IMAGE_BASE_URI=https://your_bucket.s3.region.amazonaws.com/images
UNREVEALED_URI=https://your_bucket.s3.region.amazonaws.com/hidden/hidden.json
UNREVEALED_IMAGE_URI=https://your_bucket.s3.region.amazonaws.com/hidden/hidden.png
